@use "../Fonts" as *;

.searchbar-container {
  display: flex;
  align-items: center;

  background-color: #f1f1f1;
  padding: 10px 20px;
  border-radius: 9999px;

  font-family: $font-inriasans;

  width: 100%;
  min-width: 10rem;
  max-width: 80%;
  min-height: 3rem;

  gap: 20px;
}

.searchbar-input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  color: #989898;
  width: 100%;
}
